{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1 class="title">{{ title }}</h1>{% endblock %}
{% block content %}
  <div class="content">
    <p>{% trans "We've e-mailed You instructions for setting your password, if an account exists with the email You entered. You should receive them shortly." %}</p>
    <p>{% trans "If You don't receive an e-mail, please make sure You've entered the address You registered with, and check your spam folder." %}</p>
  </div>
{% endblock %}