{% extends "catalog\base_generic.html" %}
{% block title %}Страница входа{% endblock %}
{% block Description %}content="Тут должен быть Description"{% endblock Description %}

{% block content %}
<h2>Вход</h2>
{% if user.is_authenticated %}
<p>Вы уже выполнили вход</p>
    <a href="{% url 'password_change' %}">Сбросить пароль</a>
{% else %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" value="Войти">

</form>
{% endif %}
{% endblock content %}